.formulario{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tipoatendimento label{
    padding: 0px 8px;
    font-size: 24px;
}

/* .button{
    display: flex;
} */

button{
    width: 160px;
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px;
}